body {
  background-color: #B1DDFF;
}
hr{
	height:10px;
	color:#0064B1;
	background-color: #0064B1;
	border: none;
}
.centerText {
  color: #0064B1;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 300%;
}